<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset="UTF=8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header>
        <nav>
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'create_receipt' %}">Create Receipt</a>
            {% else %}
            <a href="{% url 'signup' %}">Signup</a>
            <a href="{% url 'login'%}">Login</a>
            {% endif %}
        </nav>
    </header>
    {% block content %}{% endblock content %}

    <footer>Made with love by TWOSHOT!!</footer>
</body>
</html>
