{% extends 'base.html' %}

{% block content %}
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                {% for name in receipt_view %}
                <tr>
                    <td>{{ name.vendor }}</td>
                    <td>{{ name.total }}</td>
                    <td>{{ name.tax }}</td>
                    <td>{{ name.date|date:"m/d/y" }}</td>
                    <td>{{ name.category.name }}</td>
                    <td>{{ name.account.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}

